@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
}

/* Recreates the Palak Desai "Display" typography */
.heading-display {
  @apply text-[12vw] md:text-[9vw] font-black tracking-tighter leading-[0.8] mb-12;
}