@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Elegant high-contrast headings */
.display-text {
  @apply text-[10vw] md:text-[7vw] font-black tracking-tighter leading-[0.8] mb-12;
}